body,
html,
#root {
  height: 100%;
  font-family: 'Lato', sans-serif;
  border-color: 0px solid black;
}

html {
  font-size: 18px;
}

h1 {
  padding: .77rem 0;
  background-color: #141414;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
}

h1 .highlight {
  color: #1db954;
}

h1 .writtenName {
  font-family: 'Dancing Script', cursive;
  font-size: 1.7rem;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url('./bg-spoti.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 520px) {
  .App {
    background-image: url('./bg-spoti-mob.jpg');
    background-size: 200vw;
    background-position:top;
    background-repeat: repeat; 

  }
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}